.idea
backend/venv/
backend/.idea/
backend/assets/images/
backend/backend/__pycache__/
backend/api/__pycache__/
backend/api/views/__pycache__/
backend/api/migrations/__pycache/

frontend/.idea
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local