# Fichiers et dossiers liés aux IDE
.idea/

# Environnements virtuels
backend/.venv/

# Cache Python
**/__pycache__/

# Ressources lourdes ou générées
backend/resources/images/
backend/resources/weights/

# Fichiers générés par Python/Django
backend/api/migrations/__pycache__/
backend/runs/

# Node.js et frontend
frontend/node_modules/
frontend/package-lock.json/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

runs/
